/* Add CSS styling here */
html {
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lobster', cursive;
    
}

h1{
text-align: left;
padding: 2rem;
margin: 2rem;
color: crimson;

}
 
h2 {
 font-size: 5rem;   
 color: blueviolet;
}

.hero{
    background-image: url(../images/brown-paper-clips-1097930.jpg);
    padding: 200px 100px;
    margin: 100px;
    background-size: cover;
    background-position: center;


}

nav {
 display: flex;
 justify-content: flex-end;
 
 }
 

 a{
     border: 3px solid black;
     text-decoration: none;
     padding: 10px;
     margin: 10px;
     color: deeppink;
 }

 img {
    border-radius: 50%;
    width: 200px;
}

.group1 {
    display: flex;
    justify-content: center;
}
    
.group2 {
    display: flex;
    justify-content: center;
}

.button{
    background-color: blue;
}

footer {
  margin: 50px;  
} 

a:hover {
    color: blue;
}

@media (max-width: 592px) {
  
    nav {
      flex-direction: column;
    } 
    .hero {
      flex-direction: column;
      width: 70%;
      height: auto;
    }
    
    .group1{
        flex-direction: column;
        height: auto;
    }
    .group2{
        flex-direction: column;
        height: auto;
    }

.group1:hover {
background-color: crimson;
        }
        .group2:hover {
            background-color: darkcyan;
        }
        